@model CostumeAdminScreenViewModel

@{
    ViewBag.Title = "Costume Admin Page";
    Layout = "_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <header>
            <h2>Costumes</h2>
        </header>
        
        @if (TempData[CostumeController.AdminMessageKey] != null)
        {
            <p class="alert alert-success">
                @TempData[CostumeController.AdminMessageKey]
            </p>
        }

        <table class="table table-bordered table-responsive">
            <tbody>
                @foreach (var costume in Model.Costumes.OrderBy(e => e.Name))
                {
                    <tr>
                        <td>@costume.Name</td>
                        <td>
                            <form action="@Url.Action("EditCostume")">
                                <input type="hidden" value="@costume.Id" name="costumeId"/>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="@Url.Action("DeleteCostume")">
                                <input type="hidden" value="@costume.Id" name="costumeId" />
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete the \'\'@(costume.Name)\'\' costume? This cannot be undone.')">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <form method="GET" action="@Url.Action("EditCostume")">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
                Add New Costume
            </button>
        </form>
    </div>
    <div class="col-md-6">
        <header>
            <h2>Suggestions</h2>
        </header>
        @if (!Model.Suggestions.Any())
        {
            <h4>None</h4>
        }
        <table class="table table-bordered table-responsive">
            <tbody>
                @foreach (var suggestion in Model.Suggestions.OrderByDescending(e => e.DateSent))
                {
                    <tr>
                        <td>
                            @suggestion.Suggestion
                            @if (!string.IsNullOrEmpty(suggestion.Email))
                            {
                            <br/>
                            <em>(@suggestion.Email)</em>
                            }
                        </td>
                        <td>Sent: @suggestion.DateSent.ToString()</td>
                        <td>
                            <form method="post" action="@Url.Action("HideSuggestion")">
                                <input type="hidden" value="@suggestion.Id" name="suggestionId" />
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Hide
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
