@model CostumeViewModel

@{
    ViewBag.Title = (Model.Id == 0 ? "New" : "Edit") + " Costume";
}

<div class="row">
    <h2 class="col-xs-12">
        @(Model.Id == 0 ? "New" : Model.Name) Costume
    </h2>
    <div class="col-md-6 section">

        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" value="@Model.Id" name="Id" />

            <button class="btn btn-default" onclick="window.location = '@Url.Action("Admin")'; return false;">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back
            </button>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save
            </button>
            <br />
            <br />

            <fieldset>
                <div class="input-group">
                    <span class="input-group-addon" id="name-addon">Name</span>
                    <input type="text" class="form-control" name="Name" aria-describedby="name-addon" value="@Model.Name" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="file-addon">Image file</span>
                    <input type="file" class="form-control" name="ImageFile" aria-describedby="file-addon" />
                </div>
            </fieldset>
            <br />
            <fieldset id="costume-properties">
                @Html.EditorFor(e => e.GenderTypeId)

                <br/>

                @Html.EditorFor(e => e.AgeRangeEnumList)
                @Html.EditorFor(e => e.HairColorEnumList)
                @Html.EditorFor(e => e.HairLengthEnumList)
                @Html.EditorFor(e => e.SourceEnumList)

                <br />

                @Html.EditorFor(e => e.HasFacialHair)
                @Html.EditorFor(e => e.HasMagic)
                @Html.EditorFor(e => e.HasSuperPowers)
                @Html.EditorFor(e => e.IsFictional)
                @Html.EditorFor(e => e.IsHuman)
                @Html.EditorFor(e => e.HasEyeglasses)
            </fieldset>
        </form>
    </div>
    <div class="col-md-6 section">
        @if (!string.IsNullOrEmpty(Model.ImageFileName))
        {
        <img src="@Html.GetCostumesImagesPath()@Model.ImageFileName"
             alt="@Model.Name"
             width="300" />
        }
    </div>
</div>