@model bool

<div class="input-group">
    <label class="input-group-addon text-right" for="@ViewData.ModelMetadata.PropertyName" style="width: 100%;">
        @ViewData.ModelMetadata.DisplayName
    </label>
    <label class="form-control" for="@ViewData.ModelMetadata.PropertyName">
        <input type="checkbox" id="@ViewData.ModelMetadata.PropertyName"
               name="@ViewData.ModelMetadata.PropertyName"
               value="true"
               @(Model ? "checked='checked'" : "") />
    </label>
</div>