@model EnumList
           
<div class="input-group">
    <label class="input-group-addon text-right">
        @ViewData.ModelMetadata.DisplayName
    </label>
    @foreach (var option in Model.GetEnumMembers())
    {
        <label class="form-control text-right" for="@option.ToString()">
            @option.GetDisplayName()
            <input type="checkbox"
                   id="@option.ToString()"
                   name="@Model.PropertyName"
                   value="@Convert.ToByte(option)"
                   @(Model.Options.Contains(option) ? "checked=\"checked\"" : "")>
        </label>
    }
</div>
