@model Enum
           
<div class="input-group">
    <label class="form-control text-right" for="@ViewData.ModelMetadata.PropertyName">
        @ViewData.ModelMetadata.DisplayName
    </label>
    <label class="input-group-addon" for="@ViewData.ModelMetadata.PropertyName">
        <select name="@ViewData.ModelMetadata.PropertyName" >
            @if (ViewData.ModelMetadata.IsNullableValueType)
            {
                <option value="">Any</option>
            }
            @foreach (var option in Html.GetEnumMembers(ViewData.ModelMetadata.ModelType))
            {
                <option value="@Convert.ToByte(option)"
                    @(Equals(ViewData.Model, option) ? "selected=\"selected\"" : "")>
                    @option.ToString()
                </option>
            }
        </select>
    </label>
</div>
